@import './common';

img {
    display: block;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index:999;
    height: 76px;
    background-color: #C2D9FF;
    border-bottom: solid 1px #b6ccef;
}

.gallery {
    margin: 20px auto;
    width: 97%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    
    .photo-card {
        border-radius: 5px;
        flex-basis: calc((100% - 20px * 3) / 4);
        box-shadow: 0px 0.5rem 1rem rgba(black, 0.2);
        
        img {
            border-radius: 5px 5px 0 0;
            align-self: center;
            object-fit: cover;
            width: 100%;
            height: 220px;
            transition: 0.3s ease;
        }
        
        img:hover {
            opacity: 0.9;
            transform: scale(1.02);
            overflow: hidden;
        }

        .info {
            display: flex;
            flex-direction: row;
            text-align: center;
            font-size: 12px;
            justify-content: space-evenly;

            p {
                margin: 10px 0;
            }
        }
    }

}

.load-more {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border-top: 2px solid #f0f0f0;
    border-left: 2px solid #f0f0f0;
}

.search-btn {
    border-top: 2px solid #C2D9FF;
    border-left: 2px solid #C2D9FF;
}

.search-btn, .load-more {
    cursor: pointer;
    padding: 10px 20px;
    min-width: 100px;
    max-width: 150px;
    font-weight: 500;
    background: #ffffffcb;
    color: #8E8FFA;
    border-radius: .5rem;
    border-bottom: 2px solid #8E8FFA;
    border-right: 2px solid #8E8FFA;
    transition-duration: .3s;
    transition-property: border-top,
        border-left,
        border-bottom,
        border-right,
        box-shadow,
        font-weight;
}

.search-btn:hover, .load-more:hover {
    font-weight: 600;
    border-top: 2px solid #8E8FFA;
    border-left: 2px solid #8E8FFA;
    border-bottom: 2px solid #8E8FFA;
    border-right: 2px solid #8E8FFA;
    box-shadow: #8E8FFA59 3px 3px, #8E8FFA2e 6px 6px, #8E8FFA14 8px 8px;
}

.input {
    max-width: 190px;
    height: 40px;
    background-color: #ffffffcb;
    color: #05060fc2;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.input:hover,
.input:focus {
    outline: none;
    border-color: #8E8FFA;
}


.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}